@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#btn-showNextDate,#output2,#output1,#msg,#error
{
    display: none;
}

html
{
    margin: 0;
    background-image: url(bday-bg.jpg);
    font-family: 'Open Sans', sans-serif;
}

body
{
    margin: auto;
    margin-top: 3rem;
    width: 60%;
    text-align: center;
    border: 5px solid #000;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
}
#intro
{
    width: 90%;
    margin: auto;
    text-justify: auto;
}
#instruction
{
    font-size: smaller;
    text-justify: auto;
    margin: 5em;
}
main
{
    margin: 2em;
    margin-top: 1rem;
}

.container
{
    width:85%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#output1
{
    font-weight: 800;
    font-size: larger;
    border: 1px solid #000;
    padding: 5px;
}
#error
{
    font-weight: 800;
}
#msg
{
    font-size: 16px;
    text-shadow: #000 20px;
    font-weight: 800;
}
#output-date,#count
{
    font-size: larger;
    font-weight: 800;
}
#count,#msg,#heart,#error
{
    color:rgb(238, 32, 32);
    
}
button
{
    width: 5rem;
    height: 1.6rem;
    margin: 1rem;
    font-size: medium;
    font-weight: 600;
    background-color: #4CA9B3;
    border-radius: 5px;
    border: 2px solid #000;
    
}

#btn-showNextDate
{
    margin-top: 0;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 800;
}

@media screen and (max-width: 800px) 
{
    body
    {
        margin: 2em;
        width: 80%;
    }
    
    .container
    {
        margin: 1em auto;
    }

}